body {
    background-color: #FFF6EA
  }

  h1 {
      Color : #3a4976;
  }

  h2 {
    Color : #3a4976;
}

  h3 {
    color: #1a5bb1
}
#heading {
    color: #3a4976;
    font-size: 80px
}


  .normal_line  {
    background-color: #A97155;
    border-style: none;
    height: 2px
  }

  #profile-img {
    border-radius: 114px
  }

  .horizontal-pictures{
    width : 900px;
    height : 600px;
    border-radius: 150px;
    object-fit: cover;
  }

  .vertical-pictures{
    width : 720px;
    height : 850px;
    border-radius: 150px;
    object-fit: cover;
  }

  .especial-picture{
    width : 720px;
    height : 720px;
    border-radius: 150px;
    object-fit: cover;
  }

  .circle_line{
    background-color: transparent;
    border-color : #A97155;
    border-width : 5px;
    border-style: none;
    border-top-style : dotted;
    width : 30%
  }

    a:hover {
    background-color: #BF9270;
    font-size: 20px
  }